.modal-header {
}

.modal-body {
  padding: 1em;
  background-color: rgb(94, 118, 126);
}
.modal-descript {
  padding-bottom: 0.6em;
  text-align: center;
  color: #fff;
}

.modal-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 0.2em;
}
